<a href="https://colab.research.google.com/github/Rizbul007/Python_programing_besic/blob/master/Dictionary_class_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

creating a dictionay

In [ ]:
my_dict={}
my_dict={'name':'Rizbul','age':23}
print(my_dict)

{'name': 'Rizbul', 'age': 23}

Access values in key

In [ ]:
name=my_dict['name']
age=my_dict.get('age')
print(name)
print(age)
#also use to get in one print
print(name,age)

Rizbul
23
Rizbul 23

add items in dictionary

In [ ]:
my_dict['country']='bangladesh'
my_dict['job']='CSE'

print(my_dict)

{'name': 'Rizbul', 'age': 23, 'country': 'bangladesh', 'job': 'CSE'}

delete items from dictionary

del

pop

popitem= rmv last item of dictionay

In [ ]:
#del
del my_dict['job']
print(my_dict)

{'name': 'Rizbul', 'age': 23, 'country': 'bangladesh'}

In [ ]:
#pop
age=my_dict.pop('age')
print(my_dict)

{'name': 'Rizbul', 'country': 'bangladesh'}

In [ ]:
#popitem
last_item=my_dict.popitem()
print(my_dict,last_item)

{'name': 'Rizbul'} ('country', 'bangladesh')

update value in dictionay

In [ ]:
my_dict['age']=40
print(my_dict)

{'name': 'Rizbul', 'age': 40}

Iterating through a dictionay

In [ ]:
#Iterating through key
for key in my_dict:
  print(key)

name
age

In [ ]:
#Iterating through value
for value in my_dict.values():
  print(value)

Rizbul
40

In [ ]:
#Iterating through key-value pair
for key,value in my_dict.items():
  print(key,value)

name Rizbul
age 40

Find dictionay length

In [ ]:
length=len(my_dict)
print('lenght of my dictionar',length)

lenght of my dictionar 2

build in methods

In [ ]:
#using keys(),values(),items
keys=my_dict.keys()
values=my_dict.values()
items=my_dict.items()
print(keys,values,items)

dict_keys(['name', 'age']) dict_values(['Rizbul', 40]) dict_items([('name', 'Rizbul'), ('age', 40)])

In [ ]:
#using update() to add items
my_dict.update({'job':'CSE','birth':'chittagong'})
print(my_dict)

{'name': 'Rizbul', 'age': 40, 'job': 'CSE', 'birth': 'chittagong'}

Dictionary membership test

In [ ]:
if 'name' in my_dict:
  print('rizbul exist')
if 'salary' not in my_dict:
  print('never have')

rizbul exist
never have

In [ ]:
#assignment 1
word=['apple','banana','apple','orange','banana','apple']
A={}
for i in word:
  if i not in A:
    A[i]=1
  else:
    A[i]+=1
print(A)

{'apple': 3, 'banana': 2, 'orange': 1}

kaggle notbook