<a href="https://colab.research.google.com/github/Rizbul007/Python_programing_besic/blob/master/Lists_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [ ]:
studentlist=['12.5','safiq','jabbar']
print(studentlist[2])

jabbar

negative idexing

 0 1 2 3 4 5(ptv)

 -6 -5 -4 -3 -2 -1(neg)

In [ ]:
studentlist=['12.5','safiq','jabbar']
print(studentlist[-1])

jabbar

List Slicing

if we need 3 index we use 4 num index

In [ ]:
studentlist=[20,21,22,23,24,25,26,27,28]
take=studentlist[3:6]
print(take)

[20, 21, 22, 23, 24, 25, 26]

In [ ]:
studentlist =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
take=studentlist[5:12]
print(take)
take=studentlist[ :5]
print(take)
take=studentlist[-3: ]
print(take)
take=studentlist[ : ]
print(take)

[6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5]
[13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
studentlist =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
take = studentlist[1:14:2]
print(take)

[2, 4, 6, 8, 10, 12, 14]

Modifiying list eliments

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist[-1]='RR'
print(carlist)

['bmw', 'gtr', 'toyota', 'nissan', 'RR']

append() #only one value in the end of the list

extend() # can add mulitipl value in the list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.append('RR')
print(carlist)
carlist.extend(['RR','f1'])
print(carlist)

['bmw', 'gtr', 'toyota', 'nissan', 'honda', 'RR']
['bmw', 'gtr', 'toyota', 'nissan', 'honda', 'RR', 'RR', 'f1']

inserting eliments in list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.insert(1,'RR')
print(carlist)

['bmw', 'RR', 'gtr', 'toyota', 'nissan', 'honda']

removing item from list

1.remove() #specific elimet remove

2.pop() #call index to remove eliment

3.clear() #remove everything from list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.remove('honda')
print(carlist)

['bmw', 'gtr', 'toyota', 'nissan']

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
popped_car=carlist.pop(2)
print(popped_car)
print(carlist)

toyota
['bmw', 'gtr', 'nissan', 'honda']

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.clear()
print(carlist)

[]

List Comprehension

In [ ]:
number=[x**2 for x in range(2,11)]
print(number)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

Sorting list assending order

sort()

sorted()

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.sort()
print(carlist)

['bmw', 'gtr', 'honda', 'nissan', 'toyota']

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
sorted_cars= sorted(carlist)
print(sorted_cars)
print(carlist)

['bmw', 'gtr', 'honda', 'nissan', 'toyota']
['bmw', 'gtr', 'toyota', 'nissan', 'honda']

Reverse

1. reversed()

2. reversed()

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
carlist.reverse()
print(carlist)

['honda', 'nissan', 'toyota', 'gtr', 'bmw']

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
reversedlist=list(reversed(carlist))
print(reversedlist)
print(carlist)

['honda', 'nissan', 'toyota', 'gtr', 'bmw']
['bmw', 'gtr', 'toyota', 'nissan', 'honda']

copying list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
copylist=carlist.copy()
print(copylist)

['bmw', 'gtr', 'toyota', 'nissan', 'honda']

finding length of a list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
number=len(carlist)
print(number)

5

checking membership in a list

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
if 'bmw' in carlist:
  print("bmw is in the list")

bmw is in the list

concatenation #adding 2 list

In [ ]:
list1=['banan','apple']
list2=['cherry','date']
result= list1+list2
print(result)

['banan', 'apple', 'cherry', 'date']

Iterating through a list -*for* loop

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
for i in carlist:
  print(i)

bmw
gtr
toyota
nissan
honda

Iterating through a list -while loop

In [ ]:
carlist=['bmw','gtr','toyota','nissan','honda']
i=0
while i<len(carlist):
  print(carlist[i], end=' ')
  i+=1

bmw gtr toyota nissan honda

Exercise 1

In [ ]:
fruits=['apple','banana','cherry','date']
print(fruits[1])
print(fruits[3])

banana
date

In [ ]:
fruits=['apple','banana','cherry','date']
number=len(fruits)
print(number)

4

In [ ]:
fruits=['apple','banana','cherry','date']
take=fruits[:3]
print(take)

['apple', 'banana', 'cherry']

In [ ]:
vegetable=['carrot','broccoli']
fruits=['apple','banana','cherry','date']
result=vegetable+fruits
print(result)

['carrot', 'broccoli', 'apple', 'banana', 'cherry', 'date']

In [ ]:
fruits=['apple','banana','cherry','date']
if 'banana' in fruits:
  print('got banana')

got banana

In [ ]:
fruits=['apple','banana','cherry','date']
for i in fruits:
  print(i)

apple
banana
cherry
date

Excercise 2

In [ ]:
number= [1,2,3,4,5]
number.insert(2,10)
print(number)

[1, 2, 10, 3, 4, 5]

In [ ]:
number= [1,2,3,4,5]
number.append(6)
print(number)

[1, 2, 3, 4, 5, 6]

In [ ]:
number= [1,2,3,4,5]
number.remove(2)
print(number)

Exercise 3

In [ ]:
numbers= [1,2,3,4,5,6,7,8,9,10]
squared_evens=[n**2 for n in numbers if n % 2 ==0]
print(squared_evens)

[4, 16, 36, 64, 100]