<a href="https://colab.research.google.com/github/Rizbul007/Python_programing_besic/blob/master/loops_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while loop

In [ ]:
i=1
sum=0
while i<=100:
  sum+=i
  i+=1
print( sum)

5050

In [ ]:
x=1
while x==1:
  number=int(input('Enter a number:'))
  print(number)
print('good bye!')

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1
else:
  print('loop finished')

1
2
3
4
5
loop finished

For loop

range(100),range(5,50),range(5,100,5)

In [ ]:
for num in range(9,90,10):
  print(num)

9
19
29
39
49
59
69
79
89

In [ ]:
sum=0
for num in range(101):
  sum+=num
print(sum)

5050

In [ ]:
for i in range(5):
  print(i)
else:
  print('loop is finished')

0
1
2
3
4
loop is finished

Nested for loop

In [ ]:
for i in range(0,2):
  for j in range(0,3):
    for k in range(0,4):
      print(f"i={i},j={j},k={k}")

i=0,j=0,k=0
i=0,j=0,k=1
i=0,j=0,k=2
i=0,j=0,k=3
i=0,j=1,k=0
i=0,j=1,k=1
i=0,j=1,k=2
i=0,j=1,k=3
i=0,j=2,k=0
i=0,j=2,k=1
i=0,j=2,k=2
i=0,j=2,k=3
i=1,j=0,k=0
i=1,j=0,k=1
i=1,j=0,k=2
i=1,j=0,k=3
i=1,j=1,k=0
i=1,j=1,k=1
i=1,j=1,k=2
i=1,j=1,k=3
i=1,j=2,k=0
i=1,j=2,k=1
i=1,j=2,k=2
i=1,j=2,k=3

Control statement

break,continue,pass

In [ ]:
for num in range(1,6):
  if num==5:
    break
print(num)

5

In [ ]:

for num in range(1,10):
   if num==2:
     continue
   print(num)

1
3
4
5
6
7
8
9

In [ ]:
for letter in 'summer':
  if letter == 'e':
    break
  print('current letter:',letter)
print('the end')

current letter: s
current letter: u
current letter: m
current letter: m
the end

In [ ]:
for letter in 'summer':
  if letter == 'e':
    continue
  print('current letter:',letter)
print('the end')

current letter: s
current letter: u
current letter: m
current letter: m
current letter: r
the end

In [ ]:
for letter in 'summer':
  if letter == 'e':
    pass
  print('current letter:',letter)
print('the end')

current letter: s
current letter: u
current letter: m
current letter: m
current letter: e
current letter: r
the end

In [ ]:
a=0
b=1
for num in range(50):
   print(a)
   num=a+b
   a=b
   b=num

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

In [ ]:
a=0
b=1
count=0
print('fibonacci series:')
print(a, end=' ')        #[end=' '] use for make in series side by side
print(b, end=' ')

for i in range(2,10):
  count=a+b
  a=b
  b=count
  print(count, end=' ')

fibonacci series:
0 1 1 2 3 5 8 13 21 34