<a href="https://colab.research.google.com/github/Rizbul007/Python_programing_besic/blob/master/operators_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators

In [ ]:
print('sum:',5+6)

11

In [ ]:
print('sub:' ,5-4)

sub: 1

In [ ]:
print('div:',6/3)

2.0

In [ ]:
print('floor division:', 5//2)

floor division: 2

Assignment Operators

In [ ]:
a= 10
b= 3
a%=b
print(a)

1

In [ ]:
a=4
b=3
a//=b
print('floor:',a)

floor: 1

In [ ]:
a=2
b=3
a**=b
print('power:',a)

power: 8

Comperison

In [ ]:
a=3
b=2
#equal operator
print('a==b =',a==b)
#not equal operator
print('a!=b =',a!=b)
#greater than oparetor
print('a>b =',a>b)
#less than operator
print('a<b =',a<b)
#greater than or equal operator
print('a>=b =',a>=b)
#less than or equal operator
print('a<=b =',a<=b)

a==b = False
a!=b = True
a>b = True
a<b = False
a>=b = True
a<=b = False

Logical Operators

In [ ]:
a=5
print(a>3 and a<10)
print(a>3 or a<4)
print(not (a>3 and a<10))

True
True
False

Logical Operator

In [ ]:
a=5
b=3
print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a>>1)
print(a<<2)

1
7
-6
6
2
20

Special Operator

In [ ]:
#Identitiy Operator
a=10
b=10
c=20
message='Hello world'
print(a is b) #identify sharing same object -> is
print(a is c)
print (a is not c) # identify sharing not same object -> is not

#Membership Operator(use most in field)
print('H' in message)
print('Hello' not in message) #word and letter must be same in order A and a is different

True
False
True
True
False

Execise

In [ ]:
number= int(input('enter a number:'))
if number> 10 and number %2 == 0:
  print (number,'is greater than 10 and even.')
else:
  print(number,'is not both greater than 10 and even.')

enter a number:12
12 is greater than 10 and even.

In [ ]:
year=2012
if (year % 4==0 and year %100!=0) or (year%400== 0):
  print(year,'number is leap year:')

else:
  print(year,'number is not leap year:')

2012 number is leap year: